{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "icon.jpeg" %}">

    <title>Web Tour</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static "bootstrap/paineldecontrole.css" %}" rel="stylesheet">


    <script src="{% static "bootstrap/assets/js/ie-emulation-modes-warning.js" %}"></script>

    
  </head>

  <body>

    <div class="imagem">
      <img src=""../logo.jpeg"">
    </div>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web Tour</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Início</a></li>
            <li><a href="{% url 'onibus' %}">Ônibus</a></li>
            <li><a href="{% url 'passageiro' %}">Passageiros</a></li>
            <li><a href="#">Relatórios</a></li>
          </ul>
        </div>
      </div>
    </nav>

         
			<!-- menu-->	 
        <div class="row" style="margin-top: 100px; position: absolute; left: 45%; top: 20%;"> 

          <div class="col-md-12">
            <button type="submit" style="margin-top: 24px; width: 100px" class="btn btn-primary">Passageiros</button>
          </div>

          <div class="col-md-12">
            <button type="submit" style="margin-top: 24px; width: 100px" class="btn btn-primary">Ônibus</button>
          </div>

          <div class="col-md-12">
            <button type="submit" style="margin-top: 24px; width: 100px;" class="btn btn-primary">Relatórios</button>
          </div>

        </div>		  





          <div class="table-responsive">
            
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
