{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Web Tour</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static "bootstrap/passageiro.css" %}" rel="stylesheet">


    <script src="{% static "bootstrap/assets/js/ie-emulation-modes-warning.js" %}"></script>

    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web Tour</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'paineldecontrole' %}">Ínicio</a></li>
            <li><a href="{% url 'onibus' %}">Ônibus</a></li>
            <li><a href="{% url 'passageiro' %}">Passageiros</a></li>
            <li><a href="#">Relatórios</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Procurar...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">    
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Lista de Passageiros <span class="sr-only">(current)</span></a></li>        
          </ul>
          </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Controle de Passageiros</h1> <!--Painel FIXO-->
          <!--MENU PAINEL DE CONTROLE -->

         
			<!-- Formulário-->
      <form id="cadastro-passageiro" data-toggle="validator" method='POST'>
      {% csrf_token %} 
        <div class="row">

          <div class="col-md-2">
            <div class="form-group" >    
              <label for="textCpf" class="control-label">Cpf</label>      
              <input id="inputCpf" name="inputCpf" class="form-control" placeholder="Digite o cpf" type="text">    
            </div>  
          </div>


          <div class="col-md-3">
            <div class="form-group" >		 
              <label for="inputNome" class="control-label">Nome Completo</label>		   
              <input id="inputNome" name="inputNome" class="form-control" placeholder="Digite seu nome" type="text">		
            </div>	
          </div>

           <div class="col-md-2"> 
            <div class="form-group">      
              <label for="inputTelefone" class="control-label">Telefone</label>        
              <input id="inputTelefone" name="inputTelefone" class="form-control" placeholder="Digite o telefone..." type="text">      
            </div>  
          </div>

          <div class="col-md-3  ">	  
            <div class="form-group">		    
              <label for="Email" class="control-label">Email</label>		    
              <input id="inputEmail" name="inputEmail" class="form-control" placeholder="Digite seu E-mail" type="text">		  
            </div>
          </div>

           <div class="col-md-2">    
              <div class="form-group"> <label for="text" class="control-label">Pago?</label>
                <select id="inputPago" name="inputPago" class="form-control">
                  <option value="Sim">Sim</option>
                  <option value="Não">Não</option>
                </select>     
              </div>
            </div>	 

          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </div>		  
      </form>





          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cpf</th>
                  <th>Nome Completo</th>
                  <th>Telefone</th>
                  <th>Email</th>
                  <th>Pago</th>
                </tr>
              </thead>
              <tbody>
                {% for i in passageiro %}
                <tr>
                  <td>{{i.inputCpf}}</td>
                  <td>{{i.inputNome}}</td>
                  <td>{{i.inputTelefone}}</td>
                  <td>{{i.inputEmail}}</td>
                  <td>{{i.inputPago}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
