{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    {% block body %}
    <div id="wrapper">

        <div id="page-wrapper">
            <div>
                <h1 class="page-header">Controle de Viagens</h1>
            </div>
            <div>
                <form id="cadastroViagem" data-toggle="validator" method='POST'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-1">
                            <label for="inputOnibus">Veículo</label>
                            <!-- Abrir janela modal para selecionar um ônibus pronto-->
                            <button type="button" class="btn-info btn-sm" data-toggle="modal" data-target="
                            #myModal"  style="margin-top:0.5px;">Selecionar</button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                      <div class="modal-body">
                                        <h2>Selecione o ônibus</h2>
                                        <div class="table-responsive">
                                          <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th class="col-md-2">Placa</th>
                                                <th class="col-md-2">Categoria</th>
                                                <th class="col-md-3">Total de Assentos</th>
                                                <th class="col-md-3">Autonomia (Km/L)</th>
                                                <th class="col-md-4">Pronto para Viagem?</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for i in onibus %}
                                          <tr>
                                            <td id="seleciona_onibus"><a href="#">{{ i.placa }}</a></td>
                                            <td>{{ i.categoria }}</td>
                                            <td>{{ i.qtde_lugares }}</td>
                                            <td>{{ i.autonomia }}</td>
                                            <td>{% if i.veic_pronto %}Sim{% else %}Não{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="form-group col-md-2">
        <label for="inputPlaca">Placa</label>
        <input type="text" name="inputPlaca"class="form-control" id="inputPlaca" placeholder="Informe a placa">
    </div>


    <div class="form-group col-md-2">
        <label for="inputOrigem">Origem</label>
        <input type="text" name="inputOrigem"class="form-control" id="inputOrigem" placeholder="Informe a cidade">
    </div>
    <div class="form-group col-md-2">
        <label for="inputDestino">Destino</label>
        <input type="text" name="inputDestino" class="form-control" id="inputDestino" placeholder="Informe a cidade">
    </div>
    <div class="form-group col-md-2">
        <label for="inputDataSaida">Data Saída</label>
        <input type="text" name="inputDataSaida"class="form-control" id="inputDataSaida" placeholder="Informe a data">
    </div>
    <div class="form-group col-md-2">
        <label for="inputHoraSaida">Hora Saída</label>
        <input type="text" name="inputHoraSaida"class="form-control" id="inputHoraSaida" placeholder="Informe a hora">
    </div>
    <div class="form-group col-md-2">
        <label for="inputHoraChegada">Hora Chegada</label>
        <input type="text" name="inputHoraChegada"class="form-control" id="inputHoraChegada" placeholder="Informe a hora">
    </div>
    <div class="form-group col-md-1" style="padding-top: 24px;">
       <button type="submit" class="btn btn-primary btn-info" style="margin-top:0.5px;">Inserir</button>
   </div>

</div>
</form>
</div>

<div class="table-responsive">
   <table class="table table-striped">
    <thead>
        <tr>
            <th>Veículo</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Data Saída</th>
            <th>Hora Saída</th>
            <th>Hora Chegada</th>
            <th>Assentos Disp.</th>
            <th class="actions">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for i in lista_viagem_banco %}
        <tr>
            <td>{{ i.nome_empresa }}</td>
            <td>{{ i.origem }}</td>
            <td>{{ i.destino }}</td>
            <td>{{ i.data_saida }}</td>
            <td>{{ i.hora_saida }}</td>
            <td>{{ i.hora_chegada }}</td>
            <td>5</td>
            <td id="{{ i.id }}" class="remove_viagem"><i class="material-icons"><a href="#">delete</a></i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
<!-- /#page-wrapper -->

</div>
{% endblock %}
</body>

</html>
