{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Web Tour</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "bootstrap/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static "bootstrap/onibus.css" %}" rel="stylesheet">


    <script src="{% static "bootstrap/assets/js/ie-emulation-modes-warning.js" %}"></script>

    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web Tour</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Procurar...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">    
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url '  paineldecontrole' %}">Painel de Controle <span class="sr-only">(current)</span></a></li>        
          </ul>
    
          </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Viagens</h1> <!--Painel FIXO-->
          <!--MENU PAINEL DE CONTROLE -->


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Origem</th>
                  <th>Destino</th>
                  <th>Dta Saída</th>
                  <th>Dta Chegada</th>
                  <th>Hora Saída</th>
                  <th> Chegada</th>
                  <th>Assentos Disp.</th>
                  <th>Qtde Assentos</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for i in viagens %}
                  <tr>
                    <td>{{ i.nome_empresa }}</td>
                    <td>{{ i.origem }}</td>
                    <td>{{ i.destino }}</td>
                    <td>{{ i.data_saida }}</td>
                    <td>{{ i.data_chegada }}</td>
                    <td>{{ i.hora_saida }}</td>
                    <td>{{ i.hora_chegada }}</td>
                    <td>{{ i.qtde_assentos }}</td>
                    <td>{{ i.qtde_assentos_disp }}</td>
                    <td><button name="viagem" type="submit" value="{{ i.id }}">Selecionar</button></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
