{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-2 sidebar">    
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Viagens <span class="sr-only">(current)</span></a></li>        
        </ul>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Viagens do dia  {{ viagens.0.data_saida }}</h1> <!--Painel FIXO-->
        <!--MENU PAINEL DE CONTROLE -->


        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Empresa</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Dta Saída</th>
                <th>Dta Chegada</th>
                <th>Hora Saída</th>
                <th> Chegada</th>
                <th>Assentos Disp.</th>
                <th>Qtde Assentos</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in viagens %}
              <tr>
                <td>{{ i.nome_empresa }}</td>
                <td>{{ i.origem }}</td>
                <td>{{ i.destino }}</td>
                <td>{{ i.data_saida }}</td>
                <td>{{ i.data_chegada }}</td>
                <td>{{ i.hora_saida }}</td>
                <td>{{ i.hora_chegada }}</td>
                <td>{{ i.qtde_assentos }}</td>
                <td>{{ i.qtde_assentos_disp }}</td>
                <td><button name="viagem" type="submit" value="{{ i.id }}">Detalhes</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
