{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Web Tour</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static "bootstrap/assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

  <!-- CSS -->
  <link href="{% static "form.css" %}" rel="stylesheet">
  <link href="{% static "bootstrap/passageiro.css" %}" rel="stylesheet">

  <script src="{% static "bootstrap/assets/js/ie-emulation-modes-warning.js" %}"></script>

  <script src="{% static "jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "form.js" %}"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Web Tour</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Procurar...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">    
        <ul class="nav nav-sidebar">
          <li class="active"><a href="{% url 'paineldecontrole' %}">Painel de Controle <span class="sr-only">(current)</span></a></li>        
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Controle de Frota</h1> <!--Painel FIXO-->
        <!--MENU PAINEL DE CONTROLE -->


        <!-- Formulário-->
        <form id="cadastroVeiculo" data-toggle="validator" method='POST'>	
        {% csrf_token %}
        
          {% if errors %}
            <div class="row error">
              {% if errors.inputPlaca %}{{ errors.inputPlaca }}<br/>{% endif %}    
              {% if errors.inputAutonomia %}{{ errors.inputAutonomia }}<br/>{% endif %}   
              {% if errors.inputLugares %}{{ errors.inputLugares }}<br/>{% endif %}   
            </div>
          {% endif %}

          <div class="row">
            <div class="col-md-2">
              <div class="form-group" >		 
                <label for="text" class="control-label">Placa</label>		   
                <input id="inputPlaca" name="inputPlaca" class="form-control{% if errors.inputPlaca %} error{% endif %}" placeholder="Digite a placa" type="text" value="{{ onibus.placa }}">
              </div>	
            </div>

            <div class="col-md-2">    
              <div class="form-group">
                <label for="text" class="control-label">Categoria</label>
                <select id="inputCat_veiculo" name="inputCat_veiculo" class="form-control">
                  <option value="Ônibus">O - Ônibus</option>
                  <option value="Van">V - Van</option>
                  <option value="Microônibus">M - Microônibus</option>
                </select>
              </div>

            </div> 

            <div class="col-md-2">    
              <div class="form-group">        
                <label for="text" class="control-label">Total de assentos</label>        
                <input id="inputLugares" name="inputLugares" class="form-control{% if errors.inputLugares %} error{% endif %}" placeholder="0" type="number" value="{{ onibus.qtde_lugares }}">    
              </div>
            </div> 

            <div class="col-md-2">    
              <div class="form-group">        
                <label for="text" class="control-label">Autonomia (Km/L)</label>        
                <input id="inputAutonomia" name="inputAutonomia" class="form-control{% if errors.inputAutonomia %} error{% endif %}" step="0.01" placeholder="0.00" type="number" value="{{ onibus.autonomia }}">     
              </div>
            </div>  

            <div class="col-md-2">    
              <div class="form-group"> <label for="text" class="control-label">Pronto?</label>
                <select id="inputVeic_pronto" name="inputVeic_pronto" class="form-control">
                  <option value="True"{% if onibus.veic_pronto == 'True' %} selected{% endif %}>Sim</option>
                  <option value="False"{% if onibus.veic_pronto == 'False' %} selected{% endif %}>Não</option>
                </select>     
              </div>
            </div>

            <div class="col-md-2" style="padding-top: 24px;">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
          </div>		  
        </form>





        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Placa</th>
                <th class="col-md-2">Categoria</th>
                <th class="col-md-2">Total de Assentos</th>
                <th class="col-md-2">Autonomia (Km/L)</th>
                <th class="col-md-2">Pronto para Viagem?</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in lista_onibus %}
              <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.placa }}</td>
                <td>{{ i.categoria }}</td>
                <td>{{ i.qtde_lugares }}</td>
                <td>{{ i.autonomia }}</td>
                <td>{% if i.veic_pronto %}Sim{% else %}Não{% endif %}</td>
                <td id="{{ i.id }}" class="remove_onibus"><i class="material-icons"><a href="#">delete</a></i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "bootstrap/assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "bootstrap/assets/js/vendor/holder.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
