{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>WebTour - Área Administrativa</title>

    <script src="{% static "jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "form.js" %}"></script>

</head>

<body>
{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">

            <div>
                <h1 class="page-header">Controle de Passageiros</h1>
            </div>


            <!-- Formulário-->
            <form id="cadastro-passageiro" data-toggle="validator" method='POST'>
            {% csrf_token %} 
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group" >    
                            <label for="textCpf" class="control-label">Cpf</label>      
                            <input id="inputCpf" name="inputCpf" class="form-control" placeholder="Digite o cpf" type="text">    
                        </div>  
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" >        
                            <label for="inputNome" class="control-label">Nome Completo</label>           
                            <input id="inputNome" name="inputNome" class="form-control" placeholder="Digite seu nome" type="text">        
                        </div>  
                    </div>

                    <div class="col-md-2"> 
                        <div class="form-group">      
                          <label for="inputTelefone" class="control-label">Telefone</label>        
                          <input id="inputTelefone" name="inputTelefone" class="form-control" placeholder="Digite o telefone..." type="text">    
                        </div>  
                    </div>

                    <div class="col-md-3  ">    
                        <div class="form-group">            
                            <label for="Email" class="control-label">Email</label>            
                            <input id="inputEmail" name="inputEmail" class="form-control" placeholder="Digite seu E-mail" type="text">          
                        </div>
                    </div>

                    <div class="col-md-2" style="padding-top: 24px;">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>        
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cpf</th>
                            <th>Nome Completo</th>
                            <th>Telefone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in lista_passageiro %}
                    <tr>
                        <td>{{i.cpf}}</td>
                        <td>{{i.nome}}</td>
                        <td>{{i.telefone}}</td>
                        <td>{{i.email}}</td>
                        <td id="{{ i.id }}" class="remove_passageiro"><i class="material-icons"><a href="#">delete</a></i></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
